{% extends "layout.html" %}

{% block content %}


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    My Address Goes Here
</address>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp?key=AIzaSyDyrEFKQGc--tHDGXsXNXQOHbdOlGtASrc'></script>
<div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'>
</div><div><small><a href="http://embedgooglemaps.com">embed google maps</a></small></div><div><small>
    <a href="https://termsofusegenerator.net">terms of use example</a>
    </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style>

</div>tet{% endblock %}
