{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lyfas Camera Based Health Monitoring</h1>
    <p class="lead">Lyfas is a revolutionary heart monitoring platform that enables easy health analysis without the need of expenssive hardware.</p>
    <p><a href="http://lyfas.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Camera Based Health Vitals</h2>
        <p>
            (Note: This is under development and not yet medically validated).
            </p>
        <p>
            1. Just select Face Based Health Vitals
            </p>
        <p>
            2. Enter Your Name
            </p>
        <p>
            3. Start Tracking
            </p>
        <p>
            4. After 20 sec your health vitals will be on Screen

        </p>
       
</div>

{% endblock %}
